.r-p-s-button{
  background-color: rgb(21, 23, 34);
  border-radius: 1000px;
  border: 2px solid rgb(83, 83, 100);
  transition: background-color 0.3s, transform 0.15s;
  padding: 20px;
  cursor: pointer;
}

.r-p-s-button:hover{
  background-color: rgb(19, 21, 29);
}

.r-p-s-button:active{
  transform: scale(0.95);
}

.r-s-p-image{
  height: 180px;
}

.project-window{
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-s-p-buttons-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 35px;
  margin-bottom: 20px;
}

.r-p-s-other-button{
  height: 70px;
  width: 220px;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s, transform 0.15s;
  cursor: pointer;
}

.r-p-s-other-button:hover{
  background-color: rgb(53, 62, 78);
}

.r-p-s-other-button:active{
  transform: scale(0.95);
}

.result-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.score-board{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}