.project-window{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.to-do-list-input-grid{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.to-do-list-to-do-grid{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}